{
  "module": {
    "type": "es6"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2022"
  },
  "exclude": [
    ".*\\.spec.ts$",
    ".*\\.d.ts$"
  ],
  "sourceMaps": true,
  "minify": true
}
